<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./cont.css">
</head>

<body>
    <button class="_1JY_i0" aria-label="Previous Slide" title="Previous Slide"><span
            class="_2o9o_t _2pNTc_"></span></button>
    <button class="_5GBmrW" aria-label="Next Slide" title="Next Slide"><span class="_2o9o_t"></span></button>

    <div class="css-1dbjc4n r-1nlw0im r-u8s1d r-13qz1uu">
        <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci"
            style="background-color: rgba(0, 0, 0, 0); padding: 0px;">
            <div class="css-1dbjc4n r-cely0s r-kdyh1x r-18u37iz r-uekwnc r-1vvnge1">
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
                <div class="css-1dbjc4n r-cdmcib r-1xbve24 r-1cy1rn1 r-8hc5te"
                    style="background-color: rgb(169, 169, 169);"></div>
            </div>
            <div class="css-1dbjc4n r-u8s1d" style="left: 619px;">
                <div class="r-14lw9ot r-cdmcib r-1xbve24 css-1dbjc4n" id="lmao"
                    style="transform: translateX(0px) scaleX(1); width: 10px;"></div>
            </div>
        </div>
    </div>

    <picture>
        <source
            srcset="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/a1d93b6bc446790d.jpg?q=80 1x, https://rukminim1.flixcart.com/fk-p-flap/3200/540/image/a1d93b6bc446790d.jpg?q=60 2x, "
            media="(min-width: 1192px)">
        <source
            srcset="https://rukminim1.flixcart.com/fk-p-flap/1000/170/image/a1d93b6bc446790d.jpg?q=80 1x, https://rukminim1.flixcart.com/fk-p-flap/2000/340/image/a1d93b6bc446790d.jpg?q=60 2x, "
            media="(min-width: 768px) and (max-width: 1191px)"><img loading="auto" alt="Image"
            srcset="https://rukminim1.flixcart.com/fk-p-flap/480/80/image/a1d93b6bc446790d.jpg?q=80 1x, https://rukminim1.flixcart.com/fk-p-flap/960/160/image/a1d93b6bc446790d.jpg?q=60 2x, "
            src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/a1d93b6bc446790d.jpg?q=90"
            style="width: 100%; margin: auto; display: block; object-fit: cover; opacity: 1; aspect-ratio: 211 / 35;">
    </picture>
</body>

</html>